<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cachorro</title>
    <link rel="stylesheet" href="../assets/css/index.css">
</head>
<body>
    <h1>Cachorro</h1>
    <p>O cão, no Brasil também chamado de cachorro, é um mamífero carnívoro da família dos canídeos, subespécie do lobo, e talvez o mais antigo animal domesticado pelo ser humano. Teorias postulam que surgiu do lobo cinzento no continente asiático há mais de 100 000 anos.</p>
    <br>
    <img src="../assets/img/cachorro.jfif" alt="cachorro">

    <a href="../view/index.html">Voltar para a tela inicial</a>
</body>
</html>