<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gato</title>
    <link rel="stylesheet" href="../assets/css/index.css">
</head>
<body>
    <h1>Gato</h1> 
    <p>O gato ou gato doméstico é um mamífero carnívoro da família dos felídeos, muito popular como animal de estimação. Ocupando o topo da cadeia alimentar, é predador natural de diversos animais, como roedores, pássaros, lagartixas e alguns insetos.</p> 
    <br> 
    <img src="../assets/img/gato.jfif" alt="gato">

 <a href="../view/index.html">Voltar para a tela inicial</a>
</body>
</html>