<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/index.css">
    <link rel="stylesheet" href="../assets/css/table.css">
    <title>Meu site</title> 
</head>
<body>

    <h1>Animais Variados</h1>
    <h1>Acesse abaixo o animal que deseja saber mais sobre ele:</h1>
    <a href="./cachorro.html">Cachorro</a>
    <a href="./canguru.html">Canguru</a>
    <a href="./gato.html">Gato</a>
    <a href="./macaco.html">Macaco</a>
    <a href="./macaco_branco.html">Macaco Branco</a>
    <a href="./weslley.html">Boi</a>

    <ol>
        <li>
            Mamiferos
            <ul>
                <li>Gato</li>
                <li>Baleia</li>
                <li>Girafa</li>
            </ul>
        </li>
        <li>
            Herbivoro
            <ul>
                <li>Coelho</li>
                <li>Tartaruga</li>
                <li>Elefante</li>
            </ul>
        </li>
        <li>
            Carnivoro 
            <ul>
                <li>Tigre</li>
                <li>Leão</li>
                <li>Jacaré</li>
            </ul>
        </li>
    </ol>

    <table>
        <tr>
            <th>Funcionário</th>
            <th>Cargo</th>
            <th>Departamento</th>
        </tr>
        <tr>
            <td>Paulo</td>
            <td>Analista de Dados</td>
            <td>Riscos Operacionais DISO</td>
        </tr>
        <tr>
            <td>Henrique</td>
            <td>QA</td>
            <td>Qualidade e Teste de Software</td>
        </tr>
        <tr>
            <td>Weslley</td>
            <td>Escravo Junior</td>
            <td>Colégio Santa Maria</td>
        </tr>
        <tr>
            <td>Luisa</td>
            <td>Analista de Dados</td>
            <td>Ifood</td>
        </tr>
        <tr>
            <td>Akira</td>
            <td>Escravo Senior</td>
            <td>Colégio Santa Maria</td>
        </tr>
    </table>
    <br>

    <table>
        <tr>
            <th>Linguagem</th>
            <th>Linguagem</th>
            <th>Linguagem</th>
        </tr>
        <tr>
            <td style="background-color: rgb(207, 206, 206);">HTML</td>
            <td style="background-color: rgb(207, 206, 206);">HTML</td>
            <td style="background-color: rgb(207, 206, 206);">HTML</td>
        </tr>
        <tr>
            <td>HTML</td>
            <td>HTML</td>
            <td>HTML</td>
        </tr>
        <tr>
            <td style="background-color: rgb(207, 206, 206);">HTML</td>
            <td style="background-color: rgb(207, 206, 206);">HTML</td>
            <td style="background-color: rgb(207, 206, 206);">HTML</td>
        </tr>
        <tr>
            <td>HTML</td>
            <td>HTML</td>
            <td>HTML</td>
        </tr>
        <tr>
            <td style="background-color: rgb(207, 206, 206);">HTML</td>
            <td style="background-color: rgb(207, 206, 206);">HTML</td>
            <td style="background-color: rgb(207, 206, 206);">HTML</td>
        </tr>
        <tr>
            <td>HTML</td>
            <td>HTML</td>
            <td>HTML</td>
        </tr>
    </table>

</body>
</html>