<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Macaco Branco</title>
    <link rel="stylesheet" href="../assets/css/index.css">
</head>
<body>
    <h1>Macaco branco</h1>
    <p>O uakari dos Kanamaris (Cacajao amuna) é um macaco de pelagem totalmente branca no corpo e a face sem pelos e de tom avermelhado. O animal foi observado na região do Rio Tarauacá, que banha os estados do Acre e Amazonas. O nome escolhido para batizá-lo é uma homenagem ao grupo indígena Kanamaris do Juruá</p>
    <br>
    <img src="https://static.nationalgeographicbrasil.com/files/styles/image_3200/public/86716.webp?w=760&h=507" alt="Macaco branco">

    <a href="../view/index.html">Voltar para a tela inicial</a>
</body>
</html>